<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<a href="/movie/">Back</a>
<a href="/movie/<%= movie.id %>/edit">Edit</a>
<a href="/movie/<%= movie.id %>/del">Delete</a>

<dl>
    <dt>名前</dt>
    <dd><%= movie.title %></dd>
    <dt>説明</dt>
    <dd><%= movie.description %></dd>
</dl>
</body>
</html>
